<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>TimyWimy</display-name>

    <!--Servlets-->
    <servlet>
        <servlet-name>apiServlet</servlet-name>
        <servlet-class>timywimy.web.APIServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>usersServlet</servlet-name>
        <servlet-class>timywimy.web.UsersServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <!--Mappings-->
    <servlet-mapping>
        <servlet-name>apiServlet</servlet-name>
        <url-pattern>/api</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usersServlet</servlet-name>
        <url-pattern>/rest/users</url-pattern>
    </servlet-mapping>
</web-app>
